In [1]:
import pandas as pd

## 1. Import Data

In [2]:
df = pd.read_csv('ramen-ratings.csv')

# 2. Inspect a portion of the dataset

# 3. Shape and Basic Info about the dataset

In [3]:
df.shape

(2585, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2585 entries, 0 to 2584
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2585 non-null   int64
 1   Brand     2585 non-null   object
 2   Variety   2585 non-null   object
 3   Style     2583 non-null   object
 4   Country   2585 non-null   object
 5   Stars     2585 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.5+ KB

In [5]:
# df.Stars.value_counts().sort_values()
df.Stars.unique()

array(['3.75', '1', '2.25', '2.75', '4.75', '4', '0.25', '2.5', '5',
       '4.25', '4.5', '3.5', 'Unrated', '1.5', '3.25', '2', '0', '3',
       '0.5', '4.00', '5.0', '3.50', '3.8', '4.3', '2.3', '5.00', '3.3',
       '4.0', '3.00', '1.75', '3.0', '4.50', '0.75', '1.25', '1.1', '2.1',
       '0.9', '3.1', '4.125', '3.125', '2.125', '2.9', '0.1', '2.8',
       '3.7', '3.4', '3.6', '2.85', '3.2', '3.65', '1.8'], dtype=object)

# 4. Look for Duplicates

In [6]:
df.duplicated().sum()

5

In [7]:
df.drop_duplicates(inplace=True)
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
6,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
7,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
8,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
9,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2580,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2581,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2582,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2583,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2584,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

# 5. Fix Types

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 0 to 2584
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 161.2+ KB

In [9]:
df[df.Stars=="Unrated"]
df.Stars.replace("Unrated", 0, inplace=True)

df[df.Stars=="Unrated"]

Empty DataFrame
Columns: [Review #, Brand, Variety, Style, Country, Stars, Top Ten]
Index: []

In [10]:
# method 1
df.Stars = pd.to_numeric(df.Stars)
df.info()

#method 2
df.Stars.astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 0 to 2584
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   float64
 6   Top Ten   41 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 161.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 0 to 2584
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   float64
 6   Top Ten   41 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 161.2+ KB

# 6. Summarise Numeric Columns

In [11]:
df.describe()

          Review #        Stars
count  2580.000000  2580.000000
mean   1290.500000     3.650426
std     744.926171     1.022358
min       1.000000     0.000000
25%     645.750000     3.250000
50%    1290.500000     3.750000
75%    1935.250000     4.250000
max    2580.000000     5.000000

# 7. Summarise Categorical Columns

In [12]:
Index(['Review #', 'Brands','Variety','Country', 'Stars', 'Top 10'])

NameError: name 'Index' is not defined

In [ ]:
df.Brands.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Brands'

In [ ]:
df.Variety.value_counts()

Beef                                              7
Chicken                                           7
Yakisoba                                          6
Artificial Chicken                                6
Vegetable                                         6
                                                 ..
Oh! Ricey Pho Ga                                  1
Veggie Noodle Black Sesame Noodle                 1
Nuudeli Liha Nudlar Kott                          1
Artificial Beef Instant Noodles With Soup Base    1
Tom Yum Chili Flavor                              1
Name: Variety, Length: 2413, dtype: int64

In [ ]:
df.Country.value_counts()

Japan            352
USA              323
South Korea      309
Taiwan           224
Thailand         191
China            169
Malaysia         156
Hong Kong        137
Indonesia        126
Singapore        109
Vietnam          108
UK                69
Philippines       47
Canada            41
India             31
Germany           27
Mexico            25
Australia         22
Netherlands       15
Myanmar           14
Nepal             14
Pakistan           9
Hungary            9
Bangladesh         7
Colombia           6
Brazil             5
Cambodia           5
Fiji               4
Holland            4
Poland             4
Finland            3
Sarawak            3
Sweden             3
Dubai              3
Ghana              2
Estonia            2
Nigeria            1
United States      1
Name: Country, dtype: int64

# 8. Drop and Rename Columns

In [ ]:
df = df.drop("Review #", axis=1)
df

KeyError: "['Review #'] not found in axis"

In [ ]:
df.columns

Index(['Brand', 'Variety', 'Style', 'Country', 'Stars', 'Top Ten', 'Japan',
       'Taiwan', 'USA', 'India', 'South Korea', 'Singapore', 'Thailand',
       'Hong Kong', 'Vietnam', 'Ghana', 'Malaysia', 'Indonesia', 'China',
       'Nigeria', 'Germany', 'Hungary', 'Mexico', 'Fiji', 'Australia',
       'Pakistan', 'Bangladesh', 'Canada', 'Nepal', 'Brazil', 'UK', 'Myanmar',
       'Netherlands', 'Cambodia', 'Finland', 'Sarawak', 'Philippines',
       'Sweden', 'Colombia', 'Estonia', 'Holland', 'Poland', 'Dubai'],
      dtype='object')

In [ ]:
df.TopTen.value_counts()

AttributeError: 'DataFrame' object has no attribute 'TopTen'

In [ ]:
df.TopTen.fillna(0, inplace=True)

AttributeError: 'DataFrame' object has no attribute 'TopTen'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 0 to 2584
Data columns (total 43 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Brand        2580 non-null   object
 1   Variety      2580 non-null   object
 2   Style        2578 non-null   object
 3   Country      2580 non-null   object
 4   Stars        2580 non-null   float64
 5   Top Ten      41 non-null     object
 6   Japan        2580 non-null   object
 7   Taiwan       2580 non-null   object
 8   USA          2580 non-null   object
 9   India        2580 non-null   object
 10  South Korea  2580 non-null   object
 11  Singapore    2580 non-null   object
 12  Thailand     2580 non-null   object
 13  Hong Kong    2580 non-null   object
 14  Vietnam      2580 non-null   object
 15  Ghana        2580 non-null   object
 16  Malaysia     2580 non-null   object
 17  Indonesia    2580 non-null   object
 18  China        2580 non-null   object
 19  Nigeria      2580 non-null   object
 20  Germany      2580 non-null   object
 21  Hungary      2580 non-null   object
 22  Mexico       2580 non-null   object
 23  Fiji         2580 non-null   object
 24  Australia    2580 non-null   object
 25  Pakistan     2580 non-null   object
 26  Bangladesh   2580 non-null   object
 27  Canada       2580 non-null   object
 28  Nepal        2580 non-null   object
 29  Brazil       2580 non-null   object
 30  UK           2580 non-null   object
 31  Myanmar      2580 non-null   object
 32  Netherlands  2580 non-null   object
 33  Cambodia     2580 non-null   object
 34  Finland      2580 non-null   object
 35  Sarawak      2580 non-null   object
 36  Philippines  2580 non-null   object
 37  Sweden       2580 non-null   object
 38  Colombia     2580 non-null   object
 39  Estonia      2580 non-null   object
 40  Holland      2580 non-null   object
 41  Poland       2580 non-null   object
 42  Dubai        2580 non-null   object
dtypes: float64(1), object(42)
memory usage: 951.4+ KB

# 9. Deal with Nulls

# 10. Group and Order